body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.wallpaper{
 inset: 0;
 position: absolute;
 z-index: 0;
}
.taskbar{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.start-menu {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: 8px;

    background: linear-gradient(
        to bottom,
        #3E743F 0%,
        #2F7B2C 100%
    );

    color: white;
    font-family: Tahoma, sans-serif;
    cursor: pointer;
}
.start-menu img {
    width: 24px;
    height: 24px;
}
