body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.wallpaper{
 inset: 0;
 position: absolute;
 z-index: 0;
}
.taskbar{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #1B61F1;
    z-index: 2;
}
.start-menu {
    width: 120px;
    height: 100%;
    display: flex;
    color: white;
    font-family: Tahoma, sans-serif;
    cursor: pointer;
}
.start-menu img {
    width: 100%;
    height: 100%;
    transition: 0.25s ease; 
}
.start-menu:hover img{
    filter: brightness(1.4) saturate(1.4);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
    
}
