body{
    background-color: #032781;
}
.panel{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 80%;
    background-color:#6078BD;
}
.crt {
    position: relative;
    min-height: 100vh;   /* fill full screen */
    color: #e0ffe8;      /* slightly greenish text tint */
}
.crt::before {
    content: "";
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    pointer-events: none;
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.25) 0px,
        rgba(0, 0, 0, 0.25) 1px,
        rgba(0, 0, 0, 0) 2px,
        rgba(0, 0, 0, 0) 3px
    );
    opacity: 0.5;
    mix-blend-mode: soft-light;
}
@keyframes crt-flicker {
    0%, 100% {
        opacity: 0.96;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-0.3px);
    }
}

.crt {
    animation: crt-flicker 0.18s infinite;
}
.Logostuff{
    display: flex;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    height: 100px;
}
.xptext{
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%,-50%);
    font-family: Tahoma, Segoe UI, sans-serif;
    color: white;
    font-size: 30px;
}
.xptext sup{
    vertical-align: super;
    color: rgb(172, 89, 50);
    font-family: Tahoma, Segoe UI, sans-serif;
    font-weight: 700;
}
.xptext p{
    position: absolute;
    top: 70%;
    font-size: 20px;
    color: rgb(255, 253, 253);
    margin-top: 0px;
}
.divider{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 2px;
    height: 50%;
    background-color: rgb(165, 163, 163);
}
.Infotext{
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translate(-42%,-50%);
    font-family: Tahoma, Segoe UI, sans-serif;
    color: rgb(179, 175, 175);
    font-size: 20px;
}
.clickable{
    background: linear-gradient(
        to right,
        #032781 0%,
         rgba(3, 39, 129, 0.2) 80%
         

    );
    cursor: pointer;
    height: 100px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
    transition: all 0.25 ease;
}
.clickable img{
    position: absolute;
    height: 80%;
    top: 10%;
    left: 2.5%;
    border-radius: 5px;
}
.clickable h2{
  font-family: Tahoma, Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
     left: 30%;
}
.clickable p{
    position: relative;
    left: 30%;
    top: 30%;
    color: yellow;

}
.clickable:hover{
  width: 450px;
   
}