body{
  background-color: #002d99;
    overflow: hidden;
}
.panel{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 80%;
    background-color:#6078BD;
}
.crt {
    position: relative;
    min-height: 100vh;  
    color: #e0ffe8;    
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 2s infinite;
}

.Logostuff{
    display: flex;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    height: 100px;
}
.xptext{
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%,-50%);
    font-family: Tahoma, Segoe UI, sans-serif;
    color: white;
    font-size: 30px;
}
.xptext sup{
    vertical-align: super;
    color: rgb(172, 89, 50);
    font-family: Tahoma, Segoe UI, sans-serif;
    font-weight: 700;
}
.xptext p{
    position: absolute;
    top: 70%;
    font-size: 20px;
    color: rgb(255, 253, 253);
    margin-top: 0px;
}
.divider{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 2px;
    height: 50%;
    background-color: rgb(165, 163, 163);
}
.Infotext{
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translate(-42%,-50%);
    font-family: Tahoma, Segoe UI, sans-serif;
    color: rgb(179, 175, 175);
    font-size: 20px;
}
.clickable{
    
    cursor: pointer;
    height: 100px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
    transition: all 0.4s cubic-bezier(.17,.67,.83,.67);

}
.clickable img{
    position: absolute;
    height: 80%;
    top: 10%;
    left: 2.5%;
    border-radius: 5px;
}
.clickable h2{
  font-family: Tahoma, Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
     left: 30%;
}
.clickable p{
    position: relative;
    left: 30%;
    top: 30%;
    color: blue;

}
.clickable:hover p{
    color: yellow;
}

.clickable:hover{
  width: 450px;
  background: linear-gradient(
        to right,
        #032781 0%,
         rgba(3, 39, 129, 0.2) 50%,
         #6078BD 100%
          
      
    );
   
}
.restart {
    position: absolute;
    bottom: 5%;
    left: 2%;
    display: flex;
    gap: 8px;
    cursor: pointer;

    
}
.restart img{
    height: 30px;
}
.restart p{
    padding-top: 5px;
     position: static;            
    margin: 0;                     
    color: white;                  
    font-family: Tahoma, sans-serif;
    }
.restart p:hover{
    color:gainsboro
}
.ran-txt{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.restart img,
.clickable img,
.Logostuff img {
    -webkit-user-drag: none;
    user-select: none;
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;   
}
