@keyframes move-loader {
    0%{
        transform: translateX(0);}
        100%{
            transform: translateX(260px);
        }
    }


body{
    background-color: black;
    overflow: hidden;
}
.Image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -65%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.OSText{
    position :absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    font-size: 30px;
   font-family: Tahoma, Segoe UI, sans-serif;


}
.OSText sup{
   vertical-align: super;
    color: sienna;
    font-family: Tahoma, Segoe UI, sans-serif;
font-weight: normal;
}
.OSText p{
    position: absolute;
    top: 60%;
    left: 10%;
   
    font-size: 20px;
    color: lightgray;
    font-family: Tahoma, Segoe UI, sans-serif;
}
.exptext{
    position: absolute;
    top: 90%;
    left: 5%;
    color: rgb(165, 165, 165);
}
.loader{
    position :absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-40%);
    margin: 10px;
    border-radius: 5px ;
    background-color: transparent;
    border: 2px solid gainsboro;
    width: 200px;
    height: 20px;
    overflow: hidden;
}
.loader-inner{
  animation: move-loader 2s linear infinite;  /* slower */
  height: calc(100% - 4px);
  position: absolute;
  width: 20px;
  top: 2px;
  left: -60px;
  background-color: slateblue;
  border-radius: 3px;
}

.loader-inner:nth-child(2){
  animation-delay: 0.2s;   /* starts a bit later */
}
.loader-inner:nth-child(3){
  animation-delay: 0.4s;   /* starts even later */
}
