body{
    background-color: #032781;
}
.panel{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 80%;
    background-color:#6078BD;
}